<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chat with {{other}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
<ion-card-content>
  <ion-list id="labels-list">
    

    <ion-item *ngFor="let msg of messages" lines="none"  routerDirection="root">
      <ion-label>{{ msg.sender }} : {{ msg.message}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label floating>Message: </ion-label>
      <ion-input type="text" [(ngModel)]="chatText" required=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-button full round color="secondary" type="submit" (click)="send()">Send</ion-button>
    </ion-item>
  </ion-list>
</ion-card-content>

  </ion-card>
</ion-content>
