<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label floating>Username:</ion-label>
        <ion-input type="text" [(ngModel)]="name" required=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password:</ion-label>
        <ion-input type="password" [(ngModel)]="password" required=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-button full round color="secondary" type="submit" (click)="signup()">Sign Up</ion-button>
      </ion-item>

      <ion-item>Already have an account? <a routerLink='/sign-in'>  Sign in here</a></ion-item>
    </ion-list>
  

</ion-content>
