<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

 <ion-card-title>Hello {{ name }}!  Please select from one of the following users to chat with them: </ion-card-title>

</ion-card-header>
<ion-card-content>
  <ion-list id="labels-list">
    <ion-list-header>Users</ion-list-header>

    <ion-item *ngFor="let user of users" lines="none" routerDirection="root" [routerLink]="['/chat/' + user.username]">
      <ion-label>{{ user.username }}</ion-label>
    </ion-item>
  </ion-list>
</ion-card-content>

  </ion-card>
</ion-content>
